.main{
    display: flex;
    justify-content: center;
    position: relative; /* 相対位置 */
    height: 100vh; /* コンテナの高さを画面の高さに設定 */
    justify-content: center;
  }

.position{
    position: absolute; /* 絶対位置 */
     top: 50%; /* 上端を画面の50%に設定 */
     left: 50%; /* 左端を画面の50%に設定 */
     transform: translate(-50%, -50%); /* 中央揃え */
     text-align: center;
 }

 .textbox-container {
    /*displayが入れたらなぜかずれる。コンテナーいっぱいに入れようとするからか*/
    text-align: center;
  }
  .firstName{
   width: 20vh;
   height: 3vh;
   margin-top: 10px; /* 上に20ピクセルの空白を追加 */
   margin-bottom: 10px; /* 下に20ピクセルの空白を追加 */
   margin-right: 45px;
   font-size: 16px;
 }
 .lastName{
    width: 20vh;
    height: 3vh;
    margin-top: 10px; /* 上に20ピクセルの空白を追加 */
    margin-bottom: 10px; /* 下に20ピクセルの空白を追加 */
    font-size: 16px;
  }
  .errorname{
    color: red;
    margin-left: -35vh;
    font-size: 10px;
  }
  .p-birth{
    margin-left: -43.5vh;
    font-size: 13px;
    margin-bottom: 1px;
  }
  .errormsg{
    color: red;
    margin-left: -35vh;
    font-size: 10px;
  }

  .p-gender{
    margin-left: -41vh;
    font-size: 13px;
    margin-bottom: 1px;
  }
  .SelectBirthday{
    text-align: center;
  }
  .checkgender{
    text-align: center;
  }

  .mailaddress{
        width: 50vh;
        height: 3vh;
        margin-top: 10px; /* 上に20ピクセルの空白を追加 */
        margin-bottom: 10px; /* 下に20ピクセルの空白を追加 */
        font-size: 16px;
  }
  .erroraddressmsg{
    color: red;
    margin-left: -32vh;
    font-size: 10px;
  }

 .link{
   margin-top: 10px; /* 上に20ピクセルの空白を追加 */
   margin-bottom: 30px; /* 下に20ピクセルの空白を追加 */
 }
 
 .info{
   color: rgb(153, 153, 153);
 }